# Portfolio DAY 2 - Unsupervised and Supervised Machine Learning
## Clustering - Danish Values 1999

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

df = pd.read_csv('./data/danishvalues99.csv')

In [3]:
df

,gender,income,criminals,diffrace,leftwings,alcoholics,rightwings,manykids,neurotics,muslims,imigrants,aids,addicts,homoseksuals,jews,gypsies,age,edu,id
0,2,900000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,48,4,1
1,1,180000,0,0,0,0,1,0,1,0,0,0,0,0,0,0,30,4,2
2,1,600000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,57,3,3
3,2,180000,1,0,0,1,0,0,0,0,0,0,1,0,0,0,55,0,4
4,2,60000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,21,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,1,550000,1,0,0,0,0,0,0,0,0,0,1,0,0,0,47,0,896
896,1,300000,0,0,1,0,1,0,1,0,0,0,1,0,0,0,54,3,897
897,1,370000,1,0,0,1,0,0,1,0,0,0,0,0,0,0,47,3,898
898,1,600000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26,3,899
899,2,250000,0,0,0,1,0,0,1,0,0,0,1,0,0,0,53,3,900